*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.exe
cosc2425-comp-org-machin-lang/ps2/assemblyExamples/PartsOfNumber.asm
cosc2425-comp-org-machin-lang/ps2/assemblyExamples/PositiveNegative.asm
cosc2425-comp-org-machin-lang/ps2/hello-DOS.asm
cosc2425-comp-org-machin-lang/ps2/assemblyExamples/RevDigits.asm
